footer {
    background-color:rgb(34, 34, 34);
}

#img-footer {
    width:250px;
    padding:20px;
}

#icon_color:hover {
    color:orange;
}

#fo_link {
    text-decoration:none;
    color:white;
}

#fo_link:hover {
    color:orange;
}

.fab {
    color:white;
}

#copywrite {
    font-size:12px !important;
    color:#9c9c9c;
    margin-bottom:-20px!important;
}

@media only screen and (max-width:600px) {
    #fo_linkAll{
        font-size:13px !important;
    }
}